@page
@using MusicOnline.DTO
@using System.Text.Json
@model MusicOnline.Pages.UserModel
@{
    ViewData["Title"] = "Quản lý người dùng";
}

@Html.AntiForgeryToken()
<script type="text/javascript">
    var dataUser = @Html.Raw(JsonSerializer.Serialize(Model.lst));
</script>
<script src="~/js/user.js"></script>
<div class="text-center">
    <h1 class="display-4">Quản lý người dùng. <button type="button" class="btn btn-outline-success" onclick="openUserModal(null)">Thêm người dùng</button></h1>
    <table id="tblUser" class="table table-danger">
        <tr>
            <th>Mã người dùng</th>
            <th>Tên tài khoản</th>
            <th>Họ tên</th>
            <th>Giới tính</th>
            <th>Năm sinh</th>
            <th>Điện thoại</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        @foreach (UserDTO u in Model.lst)
        {
        <tr id="trUser_@u.id">
            <td>@u.id</td>
            <td>@u.username</td>
            <td>@u.fullname</td>
            <td>@u.gender</td>
            <td>@u.yearofbirth</td>
            <td>@u.phone</td>
            <td>@u.email</td>
            <td>
                <button type="button" class="btn btn-outline-primary btn-sm" onclick="openUserModal(@u.id);">Sửa</button>
                <button type="button" class="btn btn-outline-danger btn-sm" onclick="deleteUser(@u.id);">Xóa</button>
            </td>
        </tr>
        }
    </table>
</div>
<div id="divModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cập nhật thông tin - <span id="spanId"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Mật khẩu mới</label>
                    <input type="email" class="form-control" id="txtUserName" aria-describedby="UserNameHelp" placeholder="Nhập mật khẩu mới">
                    <small id="UserNameHelp" class="form-text text-muted">Không được để trống.</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveUser();">Lưu thay đổi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
